@model Vidionic.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = "popular";
    if (Model.Customers.Count < 5)
    {
        className = null;
    }
}

<h2 class="@className">Movie is @Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No Customers took this movie!</p>
}
else
{
    <ul>
        @foreach(var customer in Model.Customers)
        {   
            <li>Customer name is @customer.Name</li>
        }
    </ul>
}


